@font-face {
    font-family: "OpenSans";
    src: local("OpenSans"),
         url("/fonts/OpenSans-Regular.ttf") format("ttf"),
         url("/fonts/OpenSans-Regular.woff") format("woff"),
         url("/fonts/OpenSans-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "OpenSans";
    src: local("OpenSans"),
         url("/fonts/OpenSans-Bold.ttf") format("ttf"),
         url("/fonts/OpenSans-Bold.woff") format("woff"),
         url("/fonts/OpenSans-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: OpenSans, Arial, sans-serif;
  color: inherit;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
} 
.hidden {
  display: none;
}
.popup {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: OpenSans, Arial, sans-serif;
  color: #0f0d0e;
}

.popup-container {
  position: relative;
}

.close-button {
  display: block;
  height: 18px;
  width: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -25px;
  right: 0;
  background-image: url(../svg/form-x.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.feedback-form {
  padding: 47px 30px 55px;
  background-color: white;
  max-width: 390px;
}

.form-hint {
  display: block;
  margin: 23px 0 8px;
  font-size: 13px;
}

.radio-button {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);

}

.radio-text:before {
 content: "";
 display: inline-block;
 background-image: url(../svg/form-empty-circle.svg);
 height: 18px;
 width: 18px;
 background-repeat: no-repeat;
 background-size: 18px;
 vertical-align: middle;
 margin-right: 5px;

}

.radio-button:checked ~ .radio-text:before {
 background-image: url(../svg/form-circle.svg);
}

.radio-text {
  font-size: 13px;
  margin-right: 15px;
}

select.field {
  background-image: url(../svg/form-arrows.svg);
  background-size: 10px auto;
  background-repeat: no-repeat;
  background-position: right 13px center;
  margin-bottom: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea.field {
  min-height: 131px;
  min-width: 100%;
  max-width: 100%;
  padding: 17px;
}

.feedback-button {
  width: 100%;
  margin-top: 25px;
}
/* -------------хедер-------------- */
.header {
  background-color: #000000;
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  position: relative;
  z-index: 0;
  padding-top: 30px;
  padding-bottom: 125px;
  font-family: OpenSans, sans-serif;
}

.header:after, .card-trand:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  
  z-index: -1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top {
  width: 180px;
}

.menu-list {
  display: flex;
  list-style-type: none;
  font-size: 13px;
}
.menu-list a:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    background-color: #ffffff;
}
.menu-list a:hover:after,
.menu-list a:focus:after,
.item-link-nav:hover:after,
.item-link-nav:focus:after {
    width: 100%;
}
.menu-tem:nth-child(n+2) {
  margin-left: 35px;
}

.menu-tem:hover {
  text-decoration: underline;
}

.menu-link, .trand-tem {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.headline-wrapper {
  max-width: 700px;
  margin: 100px auto 0;  
}

.headline {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 45px;
  line-height: 1.7;
  text-align: center;
}

.trends {
  font-family: OpenSans, Arial, sans-serif;
  color: #0f0d0e;
  width: 100%;
  margin-top: 57px;
}

.main-select-card {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.box-trand {
  display: flex;
  justify-content: space-between;
}

.card-trand {
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: flex-end;
  width: 25%;
  min-height: 320px;
  padding: 15px 20px;
}

.trend1 {
  background-image: url("../images/trend1.jpg");
}

.trend2 {
  background-image: url("../images/trend2.jpg");
}

.trend3 {
  background-image: url("../images/trend3.jpg");
}

.trend4 {
  background-image: url("../images/trend4.jpg");
}

.border-trands {
  border: 3px solid #b59f5b;
  padding: 33px 33px;
  flex-grow: 1;
}

.trand-them {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 6px;
}

.content {
  max-width: 1200px;
  padding: 0 15px;
  margin: 63px auto 0 auto;
  display: flex;
  justify-content: space-between;
  font-family: OpenSans, Arial, sans-serif;
  color: #0f0d0e;
}

.main {
  width: 780px;
}

.news {
  display: flex;
}

.news:nth-child(n+2) {
  margin-top: 60px;
}

.news-content {
  margin-left: 30px;
}

.tems {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  font-size: 14px;
  font-weight: bold;
}

.tems-nav:nth-child(n+2) {
  margin-left: 18px;
}

.item-link-nav {
  color: #b59f5b;
  text-decoration: none;
  text-transform: uppercase;
}
.item-link-nav:after {
  display: block;
  content: "";
  height: 1px;
  width: 0%;
  background-color: #b59f5b;
}

.tems-img {
  min-width: 380px;
  object-fit: contain;
  object-position: center top;
}

.conteiner-tem {
  margin-top: 6px;
  
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
}

.item-cont {
  color: #0f0d0e;
  text-decoration: none;
  text-transform: uppercase;
}

.item-cont:hover, .trand-tem:hover {
  color: #b59f5b;
}

.Date-Author {
  margin-top: 25px;
}

.card-date {
  color: #888888;
  font-size: 12px;
}

.author {
  color: #000000;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 14px;
}

.news-text {
  margin-top: 44px;
  font-size: 15px;
  line-height: 1.5;
}

.text:nth-child(n+2) {
  margin-top: 10px;
}

.aside {
  width: 270px;
  margin-left: 120px;
}

.aside-item:nth-child(n+2) {
  margin-top: 60px;
}

.select-card {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.underline:after {
  display: block;
  content: "";
  width: 66px;
  height: 3px;
  margin: 10px auto 20px auto;
  background-color: #e1d9bd;
}

.box {
  display: flex;
  align-items: flex-start;
}

.box:nth-child(n+2) {
  margin-top: 14px;
}

.aside-img {
  min-width: 70px;
  margin-top: 8px;
  margin-right: 19px;
}

.card-name {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.search-form {
  margin-top: 60px;
  display: flex;
}

.label {
  flex-grow: 1;
} 

.field {
  display: block;
  height: 47px;
  width: 100%;
  padding-left: 17px;
  padding-right: 17px;
  background-color: #f4f7f6;
  border-radius: 0;
  border: 1px solid #f4f7f6;
  font-family: inherit;
  font-size: 13px;
}

.field:focus {
  outline: none;
  border: 1px solid #b59f5b;
}

.search-btn {
  display: inline-block;
  width: 47px;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-size: 19px auto;
  background-position: center center;
}

.button:hover {
  background-color: #323232;
} 

.button {
  height: 47px;
  border: none;
  
  background-color: #b59f5b;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.submit-btn {
  width: 100%;
  display: inline-block;
  margin-top: 20px;
}

.box-meta {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  list-style-type: none;
}

.meta {
  margin-right: 5px;
  margin-bottom: 6px;
  border: 3px solid #eeeeee;
  padding: 4px 12px;
  font-size: 12px;
  font-weight: bold;
}
.meta:hover {
    border: 3px solid #b59f5b;
}

.meta-link {
  color: #0f0d0e;
  text-decoration: none;
  text-transform: uppercase;
}

.box-item {
  margin-top: 25px;
  list-style-type: none;
}

.item {
  padding: 14px 0 12px 0;
  border: 1px solid;
  border-color: transparent transparent #eeeeee transparent;
  font-size: 14px;
  font-weight: bold;
}

.topics-link {
  color: #0f0d0e;
  text-decoration: none;
}
.topics-link:hover {
  color: #b59f5b;
}

.topic-marker {
  position: relative;
  bottom: 3px;
  
  color: #b59f5b;
  font-size: 12px;
  font-weight: bold;
}

.products {
  font-family: OpenSans, Arial, sans-serif;
  color: #0f0d0e;
  margin-top: 64px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.box-product {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px;

  display: flex;
  justify-content: space-between;
}

.block-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.border-product {
  margin-top: -30px ;
  padding: 55px 20px 28px;
  border: 3px solid #b59f5b;
  flex-grow: 1;
}

.product-them {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.text-list {
  margin-top: 2px;
  font-size: 15px;
  line-height: 1.5;
}

.list-link {
  color: #b59f5b;
  text-decoration: none;
}

.list-link:hover {
  text-decoration: underline;
}

.sale {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 24px;

  position: relative;
}

.yes-sale {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 4px;
}

.no-sale {
  position: absolute;
  left: 0;
  bottom: 25px;

  font-size: 14px;
  font-weight: bold;
  text-decoration: line-through;
}

.shop-btn {
  width: 140px;
}

.footer {
  font-family: OpenSans, Arial, sans-serif;
  color: #0f0d0e;
  max-width: 1200px;
  margin: 94px auto 0 auto;
  padding: 0 15px 20px;
}

.waves {
  background-color: #f4f7f6;
  padding: 30px 0;
}

.social {
  display: flex;
  justify-content: center;
  
  list-style-type: none;
}

.social-icon {
  display: block;
  min-width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.social-item:nth-child(n+2){
  margin-left: 30px;
}

.social-icon__twitter {
  background-image: url("../svg/004-twitter.svg");
}

.social-icon__pinterest {
  background-image: url("../svg/001-pinterest.svg");
}

.social-icon__tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.end {
  max-width: 1200px;
  text-align: center;
  margin-top: 70px;
}

.end-link {
  color: #999999;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
}

@media (min-width: 1200px) {
  .menu-burger {
    display: none;
  }
  .card-trand:nth-child(n+2) {
    margin-left: 4px;
  }
}

@media (max-width: 1199px) {
  
  .close-button {
    height: 28px;
    width: 28px;
    top: -36px;
  }

  .radio-text:before {
  height: 25px;
  width: 25px;
  background-size: 25px;
  }

   .radio-text {
  margin-right: 30px;
  }

  .form-hint {
  margin: 25px 0 9px;
  }

  .menu-list {
    display: none;
  }

  .menu {
   display: flex;
  }

  .menu-burger {
    border: none;
    width: 22px;
    height: 19px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
  }

  .menu-burger-label {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
  }

  .menu-burger:before {
    content: "";
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
  }

  .menu-burger:after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
  }
}

@media (min-width: 767px) and (max-width: 1199px) {

  .container {
    padding: 0 35px;
  }

  .header {
    padding-bottom: 112px;
  }

  .top {
    width: 160px;
    margin-left: 0;
  }

  .headline-wrapper {
    max-width: 650px;
    margin-top: 85px;
  }

  .headline {
    font-size: 40px;
    line-height: 1.4;
  }

  .trends {
    margin-top: 45px;
  }

  .card-trand {
    flex-basis: 49%;
    flex-grow: 1;
    min-height: 247px;
    padding: 15px 19px;
    margin-top: 0; 
    margin-bottom: 4px;
  }

 .card-trand:nth-child(2n+1) {
    margin-right: 4px;
  }

  .box-trand {
    margin-top: 18px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .border-trands {
    padding: 29px 29px;
  }

  .main-select-card {
    font-size: 18px;
  }

  .underline:after {
    margin: 10px auto 0 auto;
  }

  .trand-them {
    font-size: 17px;
    line-height: 1.3;
  }

  .content {
    margin: 47px auto 0 auto;
    padding: 0 35px;
  }

  .conteiner-tem {
    margin-top: 10px;
    font-size: 17px;
    line-height: 1.3;
  }

  .aside {
    margin-left: 35px;
  }

  .aside-item:first-child {
    margin-top: -5px;
  }

  .select-card {
    margin-bottom: 21px;
  }

  .author {
    margin-left: 10px;
  }

  .news-text {
    margin-top: 26px;
  }

  .products {
    padding: 0 35px;
  }

  .box-product {
    padding: 0;
    margin-top: 27px;
    flex-wrap: wrap;
  }

  .block-product {
    margin-top: 30px;
    padding: 0 23px 23px;
  }

  .border-product {
    width: 100%;
    min-width: 290px;
    margin-top: -15px;
  }

  .product-them {
    font-size: 17px; 
  }

  .footer {
    margin-top: 20px;
    padding: 0 35px;
  }

  .copyright {
    margin-top: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {

  .header {
    background-image: url("../images/banner-bg-tablet.jpg");
    padding-top: 45px;
  }

  .news {
    flex-direction: column;
  }

  .tems-img {
    width: 100%;
    min-width: 0;
    max-width: 380px;
  }

  .news-content {
    margin-left: 0;
    margin-top: 10px;
  }
}

/* карточки товара по 2 в ряд */
@media (min-width: 768px) and (max-width: 1199px) {

    .block-product {
    width: calc(50% - 10px);
  }
}

/* карточки товара в колонку */
@media (max-width: 767px) {

  .block-product {
    width: 100%;
  }

  .box-product {
    flex-direction: column;
  }
}

@media (max-width: 767px) {

  .feedback-form {
    padding: 27px 24px 32px;
  }

  .close-button {
    top: -32px;
  }

  textarea.field {
  resize: none;
  }

  .visually-hidden {
    display: none;
  }

  .popup-container {
    margin: 0 15px;
  }

  .container, .content, .footer, .card-trand {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header {
    background-image: url("../images/banner-mobile.jpg");
    padding-top: 30px;
    padding-bottom: 210px;
  }

  .container {
    flex-direction: column-reverse;
  }

  .menu {
    align-self: flex-end;
  }

  .top {
    width: 270px;
    margin: 175px 0 28px 0;
  }

  .headline-wrapper {
    padding: 0 30px;
    margin-top: 0;

  }

  .headline {
    font-size: 26px;
    line-height: 1.4;
  }

  .trends {
    margin-top: 40px;
  }

  .main {
    width: 100%;
  }

  .main-select-card {
    font-size: 16px;
  }

  .underline:after {
    margin-top: 8px;
  }

  .box-trand, .content, .news, .box-product {
    flex-direction: column;
  }

  .card-trand {
    width: 100%;
    min-height: 232px;
    margin-top: 3px;
  }

  .border-trands {
    padding: 26px 20px;
  }

  .trand-them {
    margin-top: 9px;
    font-size: 16px;
    line-height: 1.25;
  }

  .content {
    margin-top: 45px;
  }

  .news {
    border-bottom: 3px #eeeeee solid;
  }

  .tems-img {
    min-width: 0;
  }

  .conteiner-tem {
    font-size: 16px;
    line-height: 1.25;
    margin-top: 8px;
  }

  .news-content {
    margin-left: 0;
    margin-top: 10px;
  }

  .Date-Author {
    margin-top: 12px;
  }

  .news-text {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.4;
  }

  .news:nth-child(n+2) {
    margin-top: 35px;
  }

  .aside {
    width: 100%;
    margin-left: 0;
    margin-top: 39px;
  }

  .select-card {
    font-size: 16px;
  }

  .aside-item:nth-child(n+2) {
    margin-top: 40px;
  }

  .box-product {
    margin-top: 30px;
  }

  .products {
    margin-top: 30px;
  }

  .block-product {
    align-items: center;
    margin-bottom: 55px;
  }

  .border-product {
    width: 100%;
    margin-top: -12px;
    padding-top: 25px;
  }

  .product-them {
    font-size: 17px;
  }

  .footer {
    margin-top: 15px;
  }

  .copyright {
    margin: 45px auto 45px;
  }
}