@font-face {
    font-family: "OpenSans";
    src: local("OpenSans"),
         url("/fonts/OpenSans-Regular.ttf") format("ttf"),
         url("/fonts/OpenSans-Regular.woff") format("woff"),
         url("/fonts/OpenSans-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "OpenSans";
    src: local("OpenSans"),
         url("/fonts/OpenSans-Bold.ttf") format("ttf"),
         url("/fonts/OpenSans-Bold.woff") format("woff"),
         url("/fonts/OpenSans-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: OpenSans, Arial, sans-serif;
    color: inherit;
}
/* хедер */
header {
    background-image: url(../images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;
    position: relative;

}
header::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.5;
}
.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 15px;
    z-index: 2;
    position: relative;
}
.logo  {
    width: 179px;
}
.top {
    display: flex;
    justify-content: space-between;
    padding: 44px;
}
.menu-burger {
    display: none;
}

.menu-list {
    display: flex;
    font-family: OpenSans, Arial, sans-serif;
    font-style: normal;
    font-size: 13px;
}
.menu-tem {
    text-transform: uppercase;
    margin-left: 35px;
    list-style-type: none;
}
.menu-list a:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    background-color: #ffffff;
}
.menu-list a:hover:after,
.menu-list a:focus:after {
    width: 100%;
}
a.menu-link{
    text-decoration: none;
    color: #ffffff;
}

.title {
    font-family: OpenSans, Arial, sans-serif;
    display: block;
    width: 70%;
    font-size: 45px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.6;
    text-align: center;
    padding-bottom: 145px;
    padding-top: 50px;
}
/*хедер для планшета*/
@media (max-width: 1199px) {
   .menu-list {
      display: none;
   }
   .menu-burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
   }
   .menu-burger span {
      position: absolute;
      background-color: #ffffff;
      width: 100%;
      height: 2px;
      top: 9px;
   }
   .menu-burger:before,
   .menu-burger:after {
      content: "";
      background-color: #ffffff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
   }
   .menu-burger:before {
      top: 0;
   }
   .menu-burger:after {
      bottom: 0;
   }
}
/* отдельный блок*/
.trands {
    box-sizing: border-box;
    max-width: 1660px;
    width: 100%;
    margin: 0 auto;
}
.trands-theme {
    font-size: 20px;
    font-family: OpenSans, Arial, sans-serif;
    color: #0f0d0e;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-top: 65px;
}
.trands-theme:after {
    content: "";
    display: block;
    width: 66px;
    height: 3px;
    background: #e1d9bd;
    margin: 0 auto;
    margin-top: 14px;
    margin-bottom: 23px;
}
.box-trand {
    display: flex;
    height: 320px;
    max-width: 100%;
    width: calc(25% - 12/4);
    margin-left: 4px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}
.card-trand {
    box-sizing: border-box;
}
.block-trand1 {
    background-image: url("../images/trend1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 320px;
    width: 403px;
    margin-right: 4px;
}
.block-trand1::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #000;
    height: 320px;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    opacity: 0.5;
}
.block-trand2 {
    background-image: url("../images/trend2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 320px;
    width: 403px;
    margin-right: 4px;
}
.block-trand2::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #000;
    height: 320px;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    opacity: 0.5;
}
.block-trand3 {
    background-image: url("../images/trend3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 320px;
    width: 403px;
    margin-right: 4px;
}
.block-trand3::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #000;
    height: 320px;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    opacity: 0.5;
}
.block-trand4 {
    background-image: url("../images/trend4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 320px;
    width: 403px;
}
.block-trand4::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #000;
    height: 320px;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    opacity: 0.5;
}
.trand-tem {
    font-size: 22px;
    font-family: OpenSans, Arial, sans-serif;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.3;
    text-align: left;
    justify-content: center;
    text-decoration: none;
}
.trand-tem:hover {
    color: #b59f5b;
}
.border-trands {
    border: 3px solid #796f44;
    opacity: 1;
    position: absolute;
    bottom: 30px;
    max-width: 360px;
    margin: 0px 20px;
    padding: 15px;
    align-items: end;
    z-index: 1;
}
/*отдельный блок для планшета*/

@media (min-width: 768px) and (max-width: 1199px) {
    .box-trand {
       box-sizing: border-box;
       justify-content: center;

       }
    .card-trand {
       max-width: 50%;
       padding: 4px;
    }
}

/* основная часть */
.content {
    display: flex;
    max-width: 1220px;
    margin: 65px auto;
    justify-content: space-between;
    padding: 0 15px;
}

.main {
    display: flex;
    width: 775px;
    margin-left: 15px;
    margin-right: 120px;
}

.section {
    display: flex;
    margin: 0 auto;
    width: 794px;
    padding-left: 15px;
}
.section:nth-child(n+2) {
    margin-top: 59px;
}

.conteiner-list {
    width: 366px;
    margin-left: 30px;
    padding: 0px;
}
.tems {
    display: flex;
    list-style: none;
    padding: 0;
}
.tems-img {
    display: block;
    width: 380px;
    height: 295px;
}
.tems-nav {
    color: #b59f5b;
    font-family: OpenSans, Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 11px;
    padding-right: 21px;
}
.item-link-nav{
    text-decoration: none;
    color: #b59f5b;
}
.item-link-nav:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    background-color: #b59f5b;
}
.item-link-nav:hover:after,
.item-link-nav:focus:after {
    width: 100%;
}

.conteiner-tem {
    font-size: 20px;
    font-family: OpenSans, Arial, sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.3;
    text-align: left;
    margin-bottom: 15px;
}
a.item-cont {
    color:  rgb(0, 0, 0);
    text-decoration: none;
}
a.item-cont:hover {
    color: #b59f5b;
}

.card-date {
    font-family: OpenSans, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    color: rgb(136, 136, 136);
    text-align: left;
    padding-right: 15px;
}
.Author {
    font-family: OpenSans, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
p.text {
    width: 367px;
    font-size: 15px;
    font-family: OpenSans, Arial, sans-serif;
    color: rgb(15, 13, 14);
    line-height: 22px;
    margin-top: 30px;
}
.paragraph {
    margin-top: 18px;
}
aside {
    display: block;
    width: 285px;
    margin-right: 15px;
}
/* новые посты */
.select-card {
    display: block;
    text-align: center;
    font-family: OpenSans, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: rgb(15, 13, 14);
    text-transform: uppercase;

}
.select-card:after {
    content: "";
    display: block;
    width: 66px;
    height: 3px;
    background: #e1d9bd;
    margin: 0 auto;
    margin-top: 14px;
    margin-bottom: 23px;
}
.aside-item {
    display: block;
    padding-bottom: 60px;
}
.box {
    display: flex;
    margin: 0 auto;
    padding-bottom: 20px;
}
.aside-img {
    display: block;
    width: 70px;
    height: 70px;
}
a.item-cont-1 {
    color:  rgb(0, 0, 0);
    text-decoration: none;
}
a.item-cont-1:hover {
    color: #b59f5b;
}
.card {
    display: block;
    padding-left: 15px;
}

time.card-date1 {
    font-family: OpenSans, Arial, sans-serif;
    font-size: 13px;
    color: rgb(136, 136, 136);
    display: block;
    margin-top: 0;
}
.card-name {
    font-family: OpenSans, Arial, sans-serif;
    font-size: 14px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    padding-top: 5px;
}
/*  поиск */
.form {
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.form-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    border: none;
    cursor: pointer;
    background-image: url("../svg/search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #b59f5b;
    background-size: 18px;

}
.form-btn:hover {
    background-color: #323232;
}
input {
    outline: none;
}

input:focus {
    border: 2px solid #b59f5b;
}
.search {
    display: flex;
    margin-top: 60px;
}
.visually-hidden{
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}


.form-text {
    box-sizing: border-box;
    padding-left: 18px;
    padding-right: 18px;
    width: 271px;
    height: 47px;
    font-family: OpenSans, Arial, sans-serif;
    font-size: 13px;
    border: none;
    background-color:#f4f7f6;
}
/* рассылка */
.form-text-1 {
    box-sizing: border-box;
    padding-left: 18px;
    padding-right: 18px;
    width: 100%;
    height: 48px;
    font-size: 13px;
    border: none;
    background-color:#f4f7f6;
}
.submit-btn {
    margin-top: 18px;
    height: 48px;
    border: none;
    width: 100%;
    background-color:#b59f5b;
    text-transform: uppercase;
    color:#ffffff;
    font-size: 13px;
    font-family: OpenSans, Arial, sans-serif;
}
.submit-btn:hover {
    background-color: #323232;
}
/* теги */
.box-meta {
    margin: 0 auto;
    padding: 0;
}
.meta {
    display: inline-block;
    border: 3px solid #eeeeee;
    padding: 8px 11px;
    margin: 6px 0 0 6px;
    font-family: OpenSans, Arial, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
.meta:hover {
    border: 3px solid #b59f5b;
}
.meta-link {
    color:  rgb(0, 0, 0);
    text-decoration: none;
}
/* темы*/
.item {
    list-style: none;
    font-family: OpenSans, Arial, sans-serif;
    font-size: 14px;
    line-height: 47px;
    color: #000000;
    font-weight: bold;
    text-align: left;
}
.item::after{
    content:"";
    display: flex;
    margin: 7px 0;
    width: 100%;
    height: 1px;
    background:#eeeeee;
}
.item-link {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
}

.item-link:hover {
    color: #b59f5b;
}

.sup {
    vertical-align: super;
    font-family: OpenSans, Arial, sans-serif;
    font-size: 12px;
    color: #b59f5b;
    margin-left: 2px;
    line-height: 36px;
}
.products {
    box-sizing: border-box;
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 65px;
}
.box-product {
    display: flex;
    height: 320px;
    width: 100%;
    justify-content: space-evenly;
}
.border-product {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 3px solid #b59f5b;
    position: absolute;
    left: -25px;
    top: 170px;
    width: 345px;
    min-height: 266px;
    padding: 15px;
    overflow: hidden;
}
.block-product1 {
    background-image: url("../images/shop-item-desk1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 204px;
    width: 300px;
}
.block-product2 {
    background-image: url("../images/shop-item-desk2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 204px;
    width: 300px;
}
.block-product3 {
    background-image: url("../images/shop-item-desk3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 204px;
    width: 300px;
}
.product-them {
    font-size: 22px;
    font-family: OpenSans, Arial, sans-serif;
    color: rgb(15, 13, 14);
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    margin-top: 40px;
}
.text-list {
    font-size: 15px;
    font-family: OpenSans, Arial, sans-serif;
    color: rgb(15, 13, 14);
    line-height: 1.4;
    padding-top: 15px;
}
.list-link {
    text-decoration: none;
    color: #b59f5b;
}
.shop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.no-sale {
    font-size: 15px;
    font-family: OpenSans, Arial, sans-serif;
    color: rgb(15, 13, 14);
    font-weight: bold;
    text-decoration: line-through;
    text-transform: uppercase;
    text-align: left;
}
.yes-sale {
    font-size: 22px;
    font-family: OpenSans, Arial, sans-serif;
    color: rgb(15, 13, 14);
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}
a.button {
    display: inline-block;
    margin-top: 18px;
    height: 48px;
    background-color:#b59f5b;
    text-transform: uppercase;
    color:#ffffff;
    font-family: OpenSans, Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 18px 27px;
    text-decoration: none;
    line-height: 1;
}


/* подвал */
.footer {
    width: 1220px;
    margin: 0 auto;
    padding: 64px 40px;
}
.waves {
    width: 100%;
    background: #f4f7f6;
}
.social {
    display: flex;
    list-style: none;
    margin: 0 auto;
    padding: 33px;
    justify-content: center;

}
.social-icon-dribbble {
    content:" ";
    width: 25px;
    height: 25px;
    border: none;
    background-image: url("../svg/001-dribbble.svg");
    background-repeat: no-repeat;
    background-position: center;

}
.social-icon-pinterest {
    content:" ";
    width: 25px;
    height: 25px;
    background-image: url("../svg/002-pinterest.svg");
    background-repeat: no-repeat;
    background-position: center;

}
.social-icon-tumblr {
    content:" ";
    width: 25px;
    height: 25px;
    background-image: url("../svg/003-tumblr.svg");
    background-repeat: no-repeat;
    background-position: center;
}

a.social-icon-dribbble{
    display: flex;
    padding-left: 35px;
}
a.social-icon-pinterest{
    display: flex;
    padding-left: 35px;
}
a.social-icon-tumblr{
    display: flex;
    padding-left: 35px;
}
p.end {
    font-size: 14px;
    font-family: OpenSans, Arial, sans-serif;
    color: rgb(153, 153, 153);
    font-weight: bold;
    text-align: center;
    padding-top: 73px;
}
/* popup */
._hidden {
display: none;
}
.popup {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: 2;
}
.popup-body {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
}
.form {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}
.popup-content {
    background-color: #eeeeee;
    color: #0f0d0e;
    width: 388px;
    height: 590px;
    padding: 55px 30px;
    position: relative;
}
.popup-close {
    background-image: url("../svg/form-x.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 1.4em;
    height: 1em;
    font-size: 20px;
    position: absolute;
    top: -1.5em;
    right: 0;
}
.popup-close:before, .popup-close:after {
    width: 1.4em;
    height: 0.2em;
}
.popup-title {
    display: block;
    text-align: center;
    font-family: OpenSans, Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: rgb(15, 13, 14);
    text-transform: uppercase;
}
.popup-title:after {
    content: "";
    display: block;
    width: 66px;
    height: 3px;
    background: #b59f5b;
    margin: 0 auto;
    margin-top: 14px;
    margin-bottom: 23px;
}
.select-label {
  display: block;
  padding-bottom: 13px;
  font-size: 14px;
  font-family: OpenSans, Arial, sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1.077;
  text-align: left;
}
.field {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    background-image: url("../svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: right 5px center;
    padding-left: 10px;
    padding-right: 25px;
    margin: 0;
    border: none;
    background-color: #f4f7f6;
    font-size: 14px;
    font-family: OpenSans, Arial, sans-serif;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.field:focus {
    border: 2px solid #b59f5b;
}
/* радиокнопки*/
input[type="radio"]{
    display: none;
}
input[type="radio"] + label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    background: transparent;
    vertical-align: middle;
    border: 2px solid #b59f5b;
    border-radius: 50%;
    padding: 4px;
    margin:0 5px;
}
input[type="radio"]:checked + label span {
    width: 19px;
    height: 19px;
    background: #b59f5b;
    background-clip: content-box;
}

.form-group {
    display: block;
    height: 20px;
    margin-bottom: 50px;
    width: 100%;
    font-family: OpenSans, Arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
    padding: 20px 0;
}
.field-textarea {
   display: block;
   max-width: 100%;
   min-width: 100%;
   max-height: 130px;
   min-height:130px;
   border: none;
   padding: 10px;
}
.submit-button {
    margin-top: 108px;
    height: 48px;
    border: none;
    width: 100%;
    background-color:#b59f5b;
    text-transform: uppercase;
    color:#ffffff;
    font-size: 13px;
    font-family: OpenSans, Arial, sans-serif;
}
.submit-button:hover {
    background-color: #323232;
}



